NEXT_PUBLIC_SUPABASE_URL=https://myzrxjsadnuslrbmxmjy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15enJ4anNhZG51c2xyYm14bWp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzNTU5NjAsImV4cCI6MjEwMDkzMTk2MH0.IwRLep7rwYI7GlRlFXV8m6FjW5e3Pu4-VZ6b9gmccQE
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_oS324OjdPwfoCrXqtHIEvA_pcpJ6yci
SUPABASE_URL=https://myzrxjsadnuslrbmxmjy.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15enJ4anNhZG51c2xyYm14bWp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzNTU5NjAsImV4cCI6MjEwMDkzMTk2MH0.IwRLep7rwYI7GlRlFXV8m6FjW5e3Pu4-VZ6b9gmccQE
