SUPABASE_URL=https://vtuprmfqbwhryjoznjxg.supabase.co
NEXT_PUBLIC_SUPABASE_URL=https://vtuprmfqbwhryjoznjxg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0dXBybWZxYndocnlqb3puanhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzMjk2NjcsImV4cCI6MjEwMDkwNTY2N30.snJfRm5I1b683HAWe5iCS_2cfEIEXLPU1cT-uOU7i-k
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0dXBybWZxYndocnlqb3puanhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzMjk2NjcsImV4cCI6MjEwMDkwNTY2N30.snJfRm5I1b683HAWe5iCS_2cfEIEXLPU1cT-uOU7i-k
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_mmyiQd9xlmKXnwCOptfkMA_1L6jVq2m
